@page
@model Website.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
<h1>About Dino-Diner</h1>
<h2>About</h2>

<p>Founded in 2019 from the collective consciousness of the Fall Semester CIS 400 students 
    of Kansas State University and under the direct tutelage of Commodore Prof Bean, Dino-Diner is devoted to bringing you
    the finest in dinosaur-themed virtual dining experiences. Despite the prehistoric nature of our menu and the fact that it works 100% 60% of the time,
    we only use the stalest ingredients but the freshest code and only endangered or extinct dinosaurs were harmed bringing you imaginary tasty treats</p>

