@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Index Page</h1>
<div>
    <img src="~/css/DinoDiner-24.png"/>
</div>

<a asp-page="Menu">Menu Page</a>
<a asp-page="Privacy">Privacy Page</a>
<a asp-page="About">About Page</a>