@page
@model Website.Pages.PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Dino-Diner Website Privacy Policy</h1>
<h2>Privacy Policy</h2>
<p>Dino-Diner does not respect or value the privacy of its customers but you must respect and value ours. 
    This site collects all possible data on you. 
    This site uses multiple cookies.
    This site displays information about Dino-Diner and its delectable food, delightful dinosaur themed ambiance,
    in addition to any ads we can sell to partners not in competition with our restaurant</p>
