<?xml version="1.0"?>
<doc>
    <assembly>
        <name>Menu</name>
    </assembly>
    <members>
        <member name="T:DinoDiner.Menu.CretaceousCombo">
            <summary>
            Combo Class
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Entree">
            <summary>
            Entree object for combo
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Drink">
            <summary>
            Drink Object for combo
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Side">
            <summary>
            Side object for combo
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Size">
            <summary>
            Size property for Combo
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Price">
            <summary>
            Combo price getter
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Ingredients">
            <summary>
            Combo Ingredient list
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.CretaceousCombo.ToString">
            <summary>
            Custom to string for combo
            </summary>
            <returns></returns>
        </member>
        <member name="T:DinoDiner.Menu.Drinks.SodasaurusFlavor">
            <summary>
            Enum that defines the soda flavors
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Drinks.SodasaurusFlavor.Cola">
            <summary>
            Cola Flavor
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Drinks.SodasaurusFlavor.Orange">
            <summary>
            Orage flavor
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Drinks.SodasaurusFlavor.Vanilla">
            <summary>
            Vanilla flavor
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Drinks.SodasaurusFlavor.Chocolate">
            <summary>
            Chocolate flavor
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Drinks.SodasaurusFlavor.RootBeer">
            <summary>
            Rootbeer flavor
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Drinks.SodasaurusFlavor.Cherry">
            <summary>
            Cherry flavor
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Drinks.SodasaurusFlavor.Lime">
            <summary>
            Lime flavor
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Drinks.Drink">
            <summary>
            Drink Class
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Drink.Price">
            <summary>
            Gets and sets the price
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Drink.Calories">
            <summary>
            Gets and sets the calories
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Drink.Ingredients">
            <summary>
            Gets the ingredients list
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Drink.Size">
            <summary>
            Gets or sets the size
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Drink.Ice">
            <summary>
            Gets or protected sets the Ice
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drinks.Drink.HoldIce">
            <summary>
            Method for holding the ice
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Drinks.JurassicJava">
            <summary>
            Class for Coffee
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.JurassicJava.Ice">
            <summary>
            Ice inheritence override for hot Java
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drinks.JurassicJava.#ctor">
            <summary>
            Public constructor sets price and calories to default values
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drinks.JurassicJava.LeaveRoomForCream">
            <summary>
            Method for leaving room for cream
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drinks.JurassicJava.AddIce">
            <summary>
            Method for adding Ice
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.JurassicJava.Size">
            <summary>
            Size 
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.JurassicJava.Ingredients">
            <summary>
            List of ingredients
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Drinks.Sodasaurus">
            <summary>
            Class for soda
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Sodasaurus.Flavor">
            <summary>
            Soda flavor
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drinks.Sodasaurus.#ctor">
            <summary>
            Constructor, price and calories to default values
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Sodasaurus.Size">
            <summary>
            Size 
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Sodasaurus.Ingredients">
            <summary>
            List of ingredients
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Drinks.SodasaurusFlavors">
            <summary>
            Enum that defines the soda flavors
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Drinks.SodasaurusFlavors.Cola">
            <summary>
            Cola Flavor
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Drinks.SodasaurusFlavors.Orange">
            <summary>
            Orage flavor
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Drinks.SodasaurusFlavors.Vanilla">
            <summary>
            Vanilla flavor
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Drinks.SodasaurusFlavors.Chocolate">
            <summary>
            Chocolate flavor
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Drinks.SodasaurusFlavors.RootBeer">
            <summary>
            Rootbeer flavor
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Drinks.SodasaurusFlavors.Cherry">
            <summary>
            Cherry flavor
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Drinks.SodasaurusFlavors.Lime">
            <summary>
            Lime flavor
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Drinks.Tyrannotea">
            <summary>
            Tea drink class
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drinks.Tyrannotea.#ctor">
            <summary>
            Constructor sets Price and Calories to default values
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Tyrannotea.Size">
            <summary>
            Size 
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Tyrannotea.Ingredients">
            <summary>
            List of ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drinks.Tyrannotea.AddLemon">
            <summary>
            Method for adding lemon to tea
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Drinks.Water">
            <summary>
            Water drink class
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drinks.Water.AddLemon">
            <summary>
            Method for adding lemon to water
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drinks.Water.#ctor">
            <summary>
            Constructor sets size and calories to default values
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Water.Size">
            <summary>
            Size 
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drinks.Water.Ingredients">
            <summary>
            List of ingredients
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.Brontowurst">
            <summary>
            Brontowurst Entree
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.Brontowurst.Ingredients">
            <summary>
            list of ingredients for Brontowurst
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.Brontowurst.#ctor">
            <summary>
            Default constructor for BrontoWurst sets 
            default price and calories
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.Brontowurst.HoldBun">
            <summary>
            Method for Holding the bread
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.Brontowurst.HoldPeppers">
            <summary>
            Method for removing the peppers from the Brontowurst
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.Brontowurst.HoldOnion">
            <summary>
            Method for removing the Onion from list of ingredients
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.DinoNuggets">
            <summary>
            Chicken Nugget Entree
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.DinoNuggets.Ingredients">
            <summary>
            List of ingredients for the chicken nuggets
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.DinoNuggets.#ctor">
            <summary>
            Default constructor sets the price, calories,
            and Nugget count fields to their default settings.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.DinoNuggets.AddNugget">
            <summary>
            Method for adding an additional chicken nugget to the entree
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.Entree">
            <summary>
            Entree Class
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.Entree.Price">
            <summary>
            Entree Price
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.Entree.Calories">
            <summary>
            Entree Calories
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.Entree.Ingredients">
            <summary>
            Entree Ingredients
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.PrehistoricPBJ">
            <summary>
            PBJ entree class
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.PrehistoricPBJ.Ingredients">
            <summary>
            List of ingredients for PBJ
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.PrehistoricPBJ.#ctor">
            <summary>
            Default constructor for PBJ
            initializes price to default values
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.PrehistoricPBJ.HoldPeanutButter">
            <summary>
            Method for removing peanutbutter from ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.PrehistoricPBJ.HoldJelly">
            <summary>
            Method for removing the Jelly from ingredients
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.PterodactylWings">
            <summary>
            Chicken wing Entree
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.PterodactylWings.Ingredients">
            <summary>
            List of ingredients for wings
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.PterodactylWings.#ctor">
            <summary>
            Default constructor initializes
            Price and calories to default values
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.SteakosaurusBurger">
            <summary>
            Steak burger Entree
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.SteakosaurusBurger.Ingredients">
            <summary>
            List of ingredients for SteakBurger
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.SteakosaurusBurger.#ctor">
            <summary>
            Default constructor for steak burger
            Sets the price and calories to default values
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.SteakosaurusBurger.HoldBun">
            <summary>
            Method for removing the bun from ingredient list
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.SteakosaurusBurger.HoldPickle">
            <summary>
            method for removing the pickle from the list of ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.SteakosaurusBurger.HoldKetchup">
            <summary>
            Method for removing the Ketchup from the list of ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.SteakosaurusBurger.HoldMustard">
            <summary>
            Method for removing the mustard from the list of ingredients
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.TRexKingBurger">
            <summary>
            King burger Entree
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.TRexKingBurger.Ingredients">
            <summary>
            List of king burger ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.#ctor">
            <summary>
            Constructor initializes Price and Calories
            to default values
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldBun">
            <summary>
            Method for removing the bread from the ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldLettuce">
            <summary>
            Method for removing the lettuce from the ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldTomato">
            <summary>
            Method for removing the tomato from the ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldOnion">
            <summary>
            Method for removing the onion from the ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldPickle">
            <summary>
            Method for removing the pickle from the ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldKetchup">
            <summary>
            Method for removing the ketchup from the ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldMustard">
            <summary>
            Method for removing the mustard from the ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldMayo">
            <summary>
            Method for removing the mayo from the ingredients
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.VelociWrap">
            <summary>
            Velociwrap menu item
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Entrees.VelociWrap.dressing">
            <summary>
            Tells whether the wrap has dressing or not
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Entrees.VelociWrap.lettuce">
            <summary>
            Tells whether the wrap has lettuce
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Entrees.VelociWrap.cheese">
            <summary>
            Tells whether the wrap has cheese
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.VelociWrap.Ingredients">
            <summary>
            Ingredient list for VelociWrap
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.VelociWrap.#ctor">
            <summary>
            VelociWrap default constructor
            sets price and calories to default values
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.VelociWrap.HoldDressing">
            <summary>
            Method for removing dressing
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.VelociWrap.HoldLettuce">
            <summary>
            Method for Removing the lettuce
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.VelociWrap.HoldCheese">
            <summary>
            Method for Removing the Cheese
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Sides.Fryceritops">
            <summary>
            Side of Fries
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Fryceritops.Ingredients">
            <summary>
            List of ingredients
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Fryceritops.Size">
            <summary>
            Side size
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Sides.Fryceritops.#ctor">
            <summary>
            Constructor set Price and Calories to default values
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Sides.MeteorMacAndCheese">
            <summary>
            Side of mack and cheese
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.MeteorMacAndCheese.Ingredients">
            <summary>
            List of ingredients
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.MeteorMacAndCheese.Size">
            <summary>
            The size of the side
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Sides.MeteorMacAndCheese.#ctor">
            <summary>
            Constructor set Price and Calories to default values
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Sides.Mezzorella_Sticks">
            <summary>
            Mozzerella stick side
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Mezzorella_Sticks.Ingredients">
            <summary>
            List of ingredients
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Mezzorella_Sticks.Size">
            <summary>
            side size
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Sides.Mezzorella_Sticks.#ctor">
            <summary>
            Constructor set Price and Calories to default values
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Sides.Side">
            <summary>
            Abstract side class
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Side.Price">
            <summary>
            Gets and sets the price
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Side.Calories">
            <summary>
            Gets and sets the calories
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Side.Ingredients">
            <summary>
            Gets the ingredients list
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Side.Size">
            <summary>
            Gets or sets the size
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Sides.Triceritots">
             <summary>
            Tater tot side
             </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Triceritots.Ingredients">
            <summary>
            List of ingredients
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Triceritots.Size">
            <summary>
            side size
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Sides.Triceritots.#ctor">
            <summary>
            Constructor set Price and Calories to default values
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Size">
            <summary>
            Enum that defines the sizes (small, medium, large)
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Size.Small">
            <summary>
            Small sized side
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Size.Medium">
            <summary>
            Medium sized side
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Size.Large">
            <summary>
            Large size side
            </summary>
        </member>
    </members>
</doc>
