<?xml version="1.0"?>
<doc>
    <assembly>
        <name>Menu</name>
    </assembly>
    <members>
        <member name="T:DinoDiner.Menu.Entrees.Brontowurst">
            <summary>
            Brontowurst Entree
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.Brontowurst.Price">
            <summary>
            Getter/Setter for the price
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.Brontowurst.Calories">
            <summary>
            Getter/Setter for the Calories
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.Brontowurst.Ingredients">
            <summary>
            list of ingredients for Brontowurst
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.Brontowurst.#ctor">
            <summary>
            Default constructor for BrontoWurst sets 
            default price and calories
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.Brontowurst.HoldBun">
            <summary>
            Method for Holding the bread
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.Brontowurst.HoldPeppers">
            <summary>
            Method for removing the peppers from the Brontowurst
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.Brontowurst.HoldOnion">
            <summary>
            Method for removing the Onion from list of ingredients
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.DinoNuggets">
            <summary>
            Chicken Nugget Entree
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.DinoNuggets.Price">
            <summary>
            Getter/Setter for the price
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.DinoNuggets.Calories">
            <summary>
            Getter/Setter for the calories
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.DinoNuggets.Ingredients">
            <summary>
            List of ingredients for the chicken nuggets
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.DinoNuggets.#ctor">
            <summary>
            Default constructor sets the price, calories,
            and Nugget count fields to their default settings.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.DinoNuggets.AddNugget">
            <summary>
            Method for adding an additional chicken nugget to the entree
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.PrehistoricPBJ">
            <summary>
            PBJ entree class
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.PrehistoricPBJ.Price">
            <summary>
            Getter/Setter for Price of PBJ
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.PrehistoricPBJ.Calories">
            <summary>
            Getter/Setter for Calories of PBJ
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.PrehistoricPBJ.Ingredients">
            <summary>
            List of ingredients for PBJ
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.PrehistoricPBJ.#ctor">
            <summary>
            Default constructor for PBJ
            initializes price to default values
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.PrehistoricPBJ.HoldPeanutButter">
            <summary>
            Method for removing peanutbutter from ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.PrehistoricPBJ.HoldJelly">
            <summary>
            Method for removing the Jelly from ingredients
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.PterodactylWings">
            <summary>
            Chicken wing Entree
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.PterodactylWings.Price">
            <summary>
            Getter/Setter for price
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.PterodactylWings.Calories">
            <summary>
            Getter/Setter for Calories
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.PterodactylWings.Ingredients">
            <summary>
            List of ingredients for wings
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.PterodactylWings.#ctor">
            <summary>
            Default constructor initializes
            Price and calories to default values
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.SteakosaurusBurger">
            <summary>
            Steak burger Entree
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.SteakosaurusBurger.Price">
            <summary>
            Getter/Setter for price
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.SteakosaurusBurger.Calories">
            <summary>
            Getter/Setter for Calories
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.SteakosaurusBurger.Ingredients">
            <summary>
            List of ingredients for SteakBurger
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.SteakosaurusBurger.#ctor">
            <summary>
            Default constructor for steak burger
            Sets the price and calories to default values
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.SteakosaurusBurger.HoldBun">
            <summary>
            Method for removing the bun from ingredient list
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.SteakosaurusBurger.HoldPickle">
            <summary>
            method for removing the pickle from the list of ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.SteakosaurusBurger.HoldKetchup">
            <summary>
            Method for removing the Ketchup from the list of ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.SteakosaurusBurger.HoldMustard">
            <summary>
            Method for removing the mustard from the list of ingredients
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.TRexKingBurger">
            <summary>
            King burger Entree
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.TRexKingBurger.Price">
            <summary>
            Getter/Setter for Price
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.TRexKingBurger.Calories">
            <summary>
            Getter/Setter for Calories
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.TRexKingBurger.Ingredients">
            <summary>
            List of king burger ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.#ctor">
            <summary>
            Constructor initializes Price and Calories
            to default values
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldBun">
            <summary>
            Method for removing the bread from the ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldLettuce">
            <summary>
            Method for removing the lettuce from the ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldTomato">
            <summary>
            Method for removing the tomato from the ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldOnion">
            <summary>
            Method for removing the onion from the ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldPickle">
            <summary>
            Method for removing the pickle from the ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldKetchup">
            <summary>
            Method for removing the ketchup from the ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldMustard">
            <summary>
            Method for removing the mustard from the ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.TRexKingBurger.HoldMayo">
            <summary>
            Method for removing the mayo from the ingredients
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Entrees.VelociWrap">
            <summary>
            Velociwrap menu item
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Entrees.VelociWrap.dressing">
            <summary>
            Tells whether the wrap has dressing or not
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Entrees.VelociWrap.lettuce">
            <summary>
            Tells whether the wrap has lettuce
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Entrees.VelociWrap.cheese">
            <summary>
            Tells whether the wrap has cheese
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.VelociWrap.Price">
            <summary>
            Price of VelociWrap
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.VelociWrap.Calories">
            <summary>
            Calories for VelociWrap
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entrees.VelociWrap.Ingredients">
            <summary>
            Ingredient list for VelociWrap
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.VelociWrap.#ctor">
            <summary>
            VelociWrap default constructor
            sets price and calories to default values
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.VelociWrap.HoldDressing">
            <summary>
            Method for removing dressing
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.VelociWrap.HoldLettuce">
            <summary>
            Method for Removing the lettuce
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entrees.VelociWrap.HoldCheese">
            <summary>
            Method for Removing the Cheese
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Sides.Fryceritops">
            <summary>
            Side of Fries
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Fryceritops.Ingredients">
            <summary>
            List of ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Sides.Fryceritops.#ctor">
            <summary>
            Constructor set Price and Calories to default values
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Sides.Size">
            <summary>
            Enum that defines the sizes (small, medium, large)
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Sides.Size.Small">
            <summary>
            Small sized side
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Sides.Size.Medium">
            <summary>
            Medium sized side
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Sides.Size.Large">
            <summary>
            Large size side
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Sides.Side">
            <summary>
            Abstract side class
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Side.Price">
            <summary>
            Gets and sets the price
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Side.Calories">
            <summary>
            Gets and sets the calories
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Side.Ingredients">
            <summary>
            Gets the ingredients list
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sides.Side.Size">
            <summary>
            Gets or sets the size
            </summary>
        </member>
    </members>
</doc>
